* {
    margin: 0;
    /* margin: auto; */
    padding: 0;
    /* max-width: 1110px; */
}

:root{
    --branco-quase: #fff9f1;
    --amarelo: #ECB437ff;
    --areia: #DBA463ff;
    --barro: #BD7447ff;
    --barro-red:#A0542Fff;
    --palmeira: #335E62ff;
}

/* body{
    background-color: var(ba) !important;
} */

.logo{
    border-radius: 50%;
    height: 4em;
    width: auto;
}

.nav-top{
    background-color: var(--areia);
}

.nav-link{
    color: var(--branco-quase) !important;
    font-weight: bold !important;
    background-color: var(--barro) !important;
    border-radius: 6px !important;
    text-align: center;
}

.nav-item{
    margin: 0.5rem !important;
}

.btn-buscar{
    color: #fff9f1 !important;
    background-color: var(--barro) !important;
}

.card-img{
    max-height: 40em !important;
    object-fit: cover !important;
    
}

.carousel-caption{
    width: auto !important;
    background-color: #bd7447a9 !important;
    border-radius: 10px;
}

.divisão{
    background-color: var(--areia);
    text-align: center;
    color: var(--branco-quase);
    padding: 2em;
}

.sec-pacotes{
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    gap: 2em !important;
    justify-content: space-around !important;
}

.sec-contato{
    margin-bottom: 5% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 3% !important;
    /* gap: 1em !important; */
}

.card{
    padding-top: 0.8em !important;
}

.formulario{
    justify-items: center !important;
    /* justify-content: center !important; */
}

.formtamanho{
    width: 35em;
}

.btn{
    background-color: var(--barro) !important;
    color: #fff9f1 !important;
}

footer{
    background-color: var(--areia);
    color: #fff9f1;
    font-size: 1em !important;
}