* {
    margin: 0;
    margin: auto;
    padding: 0;
    /* max-width: 1110px; */
}

:root{
    --branco-quase: #fff9f1;
    --amarelo: #ECB437ff;
    --areia: #DBA463ff;
    --barro: #BD7447ff;
    --barro-red:#A0542Fff;
    --palmeira: #335E62ff;
}

/* body{
    background-color: var(ba) !important;
} */

.logo{
    border-radius: 50%;
}

.nav-top{
    background-color: var(--areia);
}

.nav-link{
    color: var(--branco-quase) !important;
    font-weight: bold !important;
    background-color: var(--barro) !important;
    border-radius: 6px !important;
    text-align: center;
}

.nav-item{
    margin: 0.5rem !important;
}

.btn-buscar{
    color: #fff9f1 !important;
    background-color: var(--barro) !important;
}

/* .carousel-item{
    width: 760px;
    height: 615px;
} */

.card-img{
    max-height: 100rem !important;
    
}

.carousel-caption{
    width: auto !important;
    background-color: var(--barro) !important;
    border-radius: 10px;
}

.divisão{
    background-color: var(--barro);
    text-align: center;
    color: var(--branco-quase);
    padding: 2em;
}